{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="col-sm-3">
        {#{% include 'AppBundle:githut:profile.html.twig' %}#}
        {{ render(controller('AppBundle:GitHut:Profile',{'username':username}))}}
    </div>

    <div class="col-sm-9">
        {{ render(controller('AppBundle:GitHut:Repos',{'username':username}))}}
    </div>
{% endblock %}
